@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #fafaf1;
    
    
}
.poppins {
    font-family: "Poppins", sans-serif;
   
  }
h1{
    font-size: 48px;
    font-family: "Poppins", sans-serif;

    font-weight: 500;
}
h2{
  line-height: none;
  font-size: 40px;
  gap: none;
  margin: 10px auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: #faf7ee;
    border-bottom: 1px solid #e2ded3;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li span {
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 400;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 110vw;
translate: calc(-35%);
    top: 100%;
    /* left: 0; */
    background-color: #faf7ee;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 100%;
}

.listing{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.dropmenu{
    display: flex;
    justify-content: space-around;

}
.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 400;
}
.leftcontent{
    display: flex;
    justify-content: space-between;
}
.hero{
    height: 100vh;
    width: 100%;
    background: url('/public/hero.webp') no-repeat;
 
    background-size: cover;
}
.arrow{
    padding-top: 14px;
}



.dropdown:hover .dropdown-content {
    display: block;
}

.header-icons span {
    margin-left: 15px;
    text-decoration: none;
    color: #000;
}

.header-icons span:hover {
    text-decoration: underline;
}

.hr{
    height: 1px;
background-color: rgb(39, 36, 36);
    width: 300px;
    margin-left: 12px;
}
.collection{
    display: flex;
    justify-content: center;
}
.slider-container {
    width: 95%;
    margin: 30px auto;
    padding-top: 20px;
    /* background-color: ; */
  }
  
  .slider-item {
    text-align: center;
    padding: 10px;
  }
  
  .slider-item img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
    background-color: #FFFDD0;
    padding: 28px 28px;
    border-radius: 100%;
  }
  
  .slider-item img:hover {
    transform: scale(1.1);
 
  }
  
  
  .slider-item p {
    font-size: 14px;
    /* margin-top: 10px; */
    /* margin-right: 280px; */
    color: #333;
  }
  
  .slick-prev,
  .slick-next {
    z-index: 1;
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .slick-prev:hover,
  .slick-next:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
    /* color: #333; */
    color: #000;
    background-color: #000;

  }
  
  .custom-prev-arrow {
    left: -40px;
    background-color: #000;
    color: #000;
  }
  
  .custom-next-arrow {
    right: -40px;
  }
  
  .slider-line {
    position: relative;
    height: 8px;
    background-color: #e0e0e0;
    margin-top: 25px;
    border-radius: 2px;
  }
  
  .slider-progress {
    position: absolute;
    height: 100%;
    background-color: #afaa4c;
    border-radius: 12px;
    transition: width 0.5s ease;
  }
  .product{
    height: 600px;
    width: 328px;
  }
  .product_img{
    height: 450px;
    width: 332px;
    border-radius: 6px;
  }
  .price{
    text-align: center;
  }
  .product_info{
    text-align: center;
  }
  .product_qualities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }
  .products{
    /* margin: 80px auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .description{
    font-size: 24px;
  }

  .card {
    position: relative;
    width: 320px;
    height: 580px;
    /* background: #191919; */
    border-radius: 20px;
    overflow: hidden;
  
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #212121;
    transform: skewY(345deg);
    transition: 0.5s;
  }
  
  .card:hover::before {
    top: -70%;
    transform: skewY(390deg);
  }
  
  .card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
  }
  
  .card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
  }
  /*
  .card .imgBox img {
      max-width: 100%;
      
      transition: .5s;
  }
  
  .card:hover .imgBox img {
      max-width: 50%;
        
  }
  */
  .card .contentBox {
    position: relative;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
  }
  
  .card .contentBox h3 {
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .card .contentBox .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .card .contentBox .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    /* margin-top: 15px; */
    color: #ffffff;
    text-decoration: none;
    background: #333333;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
  }
  
  .card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
  }
  
  .mouse {
    height: 300px;
    width: auto;
  }
  .shop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    margin-top: 90px;
  }
  .shop button{
    background-color: #164F49;
    color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
  }
  .shop button:hover{
    background-color: #04413b;
    color: white;
   
  }
  .gift_img{
    height: 420px;
    width: 1013px;
  }
  
  .container_gifts{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }
  .child_container_gifts{
    display: flex;

  }
  .child_container_gifts2{
    display: flex;
    justify-content: center;

  }
  .child_container_gift_text{
    background-color: #f2e7ce;
    display: flex;
    gap: 22px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   font-size: 42px;
    width: 100%;
    padding-left: 40px;
    font-weight: 200;
  }
  .child_container_gift_text span{
    font-size: 20px;
    width: 480px;
  } 
  .child_container_gift_text button{
    padding: 20px;
    background-color: #164f49;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 6px;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
  }
  
  .full-width-height {
    width: 100%;
    height: 100%;
  }
  
  .half-width {
    width: 50vw;
    /* height: 50vh; */
  }
  
  .full-width-small {
    width: 100%;
    
  }
  
  .image-full {
    width: 100%;
    height: 50vh;

  }
  
  .bg-custom {
    background-color: #2f887e;
  
  }
  
  .text-white {
    color: white;
  }
  
  .small-space-y-10 {
    margin-bottom: 10vh; 
  }
  
  .small-height-40vh {
    height: 50vh;
  }
  
  .space-y-20 {
    margin-bottom: 20vh; /* Adjust as necessary */
  }
  
  .flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-4xl {
    font-size: 2.25rem; /* Adjust as necessary */
  }
  
  .height-1 {
    height: 1rem; /* Adjust as necessary */
  }
  
  .width-14 {
    width: 3.5rem; /* Adjust as necessary */
  }
  
  .text-xl {
    font-size: 1.25rem; /* Adjust as necessary */
    width: 500px;
  }
  
  .button-custom {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 20px; 
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
    border-radius: 12px;
  }
  
  .button-custom:hover {
    background-color: white;
    color: black;
    font-weight: 600;
  }
  
 
  
  @media (max-width: 640px) {
    .half-width {
      width: 100%;
    }
  
    .small-space-y-10 {
      margin-bottom: 10vh; /* Adjust as necessary */
    }
  
    .small-height-40vh {
      height: 40vh;
    }
  }
  